
.yourtreescreen-title{
     margin: 20px 20px 0 20px;
}
.yourtreescreen-logout-btn{
     margin: 20px;
     font-size: 18px;
     padding: 15px;
     background-color: #708fdd;
     border-radius: 8px;
}