:root {
   // colors
   --violet-link: #6a83e0;
   --my-white: #fff;
   --white-font: #f9f8fe;
   --green-btn: #39d4a1;
   --green-btn-hover: #1dcc8ffa;
   --background-grey: #f6f6f6;
   --black: rgb(21, 20, 20);
}